# Exercício Pandas

Vamos fazer um exercício utilizando uma base de dados que contém os salários de pessoas que moram na cidade de São Francisco (Califórnia).

<br>

> O arquivo se chama "Salaries.csv" e pode ser encontrado no link do site Kaggle a seguir: https://www.kaggle.com/datasets/kaggle/sf-salaries


<br>

Para o exercício, execute as seguintes tarefas:

<br>

1. Import o pacote pandas
2. Leia o arquivo csv como um dataframe pandas
3. Visualize o head do dataframe
4. Verifique os nulos e os tipos dos dados
5. Descubra o volume de dados que o dataframe possui
6. Qual é o BasePay médio?
7. Qual é o maior OvertimePay do dataset?
8. Qual é o cargo de JOSEPH DRISCOLL?
9. Quanto ele ganha, incluindo benefícios?
10. Quem é a pessoa que tem o maior salário base?
11. Quem é a pessoa mais mal paga?
12. Qual a média salarial por ano?
13. Quantos títulos de trabalho existem?
14. Quais são os cinco principais empregos mais comuns?
15. Quantas pessoas têm a palavra chefe em seu cargo? (complicado)

#### 1. Import o pacote `pandas`

In [42]:
import pandas as pd
import numpy as np
import seaborn as sns

#### 2. Leia o arquivo csv como um dataframe `pandas`

In [43]:
df = pd.read_csv('/content/Salaries.csv')

/tmp/ipython-input-43-4008714682.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/Salaries.csv')

In [44]:
df.describe()

                  Id       TotalPay  TotalPayBenefits           Year  Notes
count  148654.000000  148654.000000     148654.000000  148654.000000    0.0
mean    74327.500000   74768.321972      93692.554811    2012.522643    NaN
std     42912.857795   50517.005274      62793.533483       1.117538    NaN
min         1.000000    -618.130000       -618.130000    2011.000000    NaN
25%     37164.250000   36168.995000      44065.650000    2012.000000    NaN
50%     74327.500000   71426.610000      92404.090000    2013.000000    NaN
75%    111490.750000  105839.135000     132876.450000    2014.000000    NaN
max    148654.000000  567595.430000     567595.430000    2014.000000    NaN

#### 3. Visualize o head do dataframe

In [45]:
df.head(1000)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,ANTIONETTE GRIFFIN,CLINICAL NURSE SPECIALIST,169572.08,0.0,250.0,NaN,169822.08,169822.08,2011,NaN,San Francisco,NaN
996,997,KATHERINE MAH,CLINICAL NURSE SPECIALIST,169572.06,0.0,250.0,NaN,169822.06,169822.06,2011,NaN,San Francisco,NaN
997,998,CHRISTINE DAVENPORT,CLINICAL NURSE SPECIALIST,169572.05,0.0,250.0,NaN,169822.05,169822.05,2011,NaN,San Francisco,NaN
998,999,ANNE HUGHES,CLINICAL NURSE SPECIALIST,169572.01,0.0,250.0,NaN,169822.01,169822.01,2011,NaN,San Francisco,NaN
999,1000,JOHN FAZIO,CLINICAL NURSE SPECIALIST,169572.0,0.0,250.0,NaN,169822.00,169822.00,2011,NaN,San Francisco,NaN

#### 4. Verifique os nulos e os tipos dos dados

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [47]:
df.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

#### 5. Descubra o volume de dados que o dataframe possui

In [48]:
df.count()

Id                  148654
EmployeeName        148654
JobTitle            148654
BasePay             148049
OvertimePay         148654
OtherPay            148654
Benefits            112495
TotalPay            148654
TotalPayBenefits    148654
Year                148654
Notes                    0
Agency              148654
Status               38119
dtype: int64

In [49]:
len(df)

148654

#### 6. Qual é o BasePay médio?

In [50]:
df["BasePay"]

0            167411.18
1            155966.02
2            212739.13
3              77916.0
4             134401.6
              ...
148649            0.00
148650    Not Provided
148651    Not Provided
148652    Not Provided
148653            0.00
Name: BasePay, Length: 148654, dtype: object

In [51]:
# Convert 'BasePay' to numeric, coercing errors to NaN
df['BasePay'] = pd.to_numeric(df['BasePay'], errors='coerce')

media_BasePay = df['BasePay'].mean()
print(f'A média do BasePay é: {media_BasePay}')

A média do BasePay é: 66325.4488404877

In [52]:
df[df["BasePay"] != "NaN"]["BasePay"].astype(float).mean()

np.float64(66325.4488404877)

#### 7. Qual é o maior OvertimePay do dataset?

In [53]:
df_TimePay = df[['Id', "EmployeeName", "OvertimePay"]]
df_TimePay

            Id       EmployeeName   OvertimePay
0            1     NATHANIEL FORD           0.0
1            2       GARY JIMENEZ     245131.88
2            3     ALBERT PARDINI     106088.18
3            4  CHRISTOPHER CHONG      56120.71
4            5    PATRICK GARDNER        9737.0
...        ...                ...           ...
148649  148650      Roy I Tillery          0.00
148650  148651       Not provided  Not Provided
148651  148652       Not provided  Not Provided
148652  148653       Not provided  Not Provided
148653  148654          Joe Lopez          0.00

[148654 rows x 3 columns]

In [54]:
df_TimePay["OvertimePay"] = pd.to_numeric(df_TimePay["OvertimePay"], errors="coerce")

/tmp/ipython-input-54-3280221026.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_TimePay["OvertimePay"] = pd.to_numeric(df_TimePay["OvertimePay"], errors="coerce")

In [55]:
df_MaxTimePay = df_TimePay.sort_values(by="OvertimePay", ascending=False)
df_MaxTimePay.head(1)

   Id  EmployeeName  OvertimePay
1   2  GARY JIMENEZ    245131.88

In [56]:
df_TimePay["OvertimePay"].max()

245131.88

In [57]:
df_TimePay.loc[df_TimePay["OvertimePay"].idxmax(), ["Id", "EmployeeName", "OvertimePay"]]

Id                         2
EmployeeName    GARY JIMENEZ
OvertimePay        245131.88
Name: 1, dtype: object

#### 8. Qual é o cargo de JOSEPH DRISCOLL?

In [58]:
df["EmployeeName_UPPER"] = df["EmployeeName"].str.upper()

In [59]:
df[df["EmployeeName_UPPER"] == "JOSEPH DRISCOLL"]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,EmployeeName_UPPER
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN,JOSEPH DRISCOLL
36198,36199,Joseph Driscoll,"Captain, Fire Suppression",145658.98,114513.29,28743.36,42919.16,288915.63,331834.79,2012,NaN,San Francisco,NaN,JOSEPH DRISCOLL

#### 9. Quanto ele ganha, incluindo benefícios?

In [60]:
total_pay = df[df["EmployeeName_UPPER"] == "JOSEPH DRISCOLL"]["TotalPayBenefits"]
total_pay

24       270324.91
36198    331834.79
Name: TotalPayBenefits, dtype: float64

#### 10. Quem é a pessoa que tem o maior salário base?

In [61]:
pd.to_numeric(df["BasePay"], errors="coerce") ## ou df["BasePay"] = df["BasePay"].astype(float)

df.groupby("EmployeeName").max("BasePay").sort_values(by="BasePay", ascending=False).head(3)

                    Id    BasePay   TotalPay  TotalPayBenefits  Year  Notes
EmployeeName
Gregory P Suhr  110535  319275.01  339282.07         425815.28  2014    NaN
Amy P Hart      110533  318835.49  390111.98         479652.21  2014    NaN
Robert L Shaw   110738  315572.01  315572.01         398421.67  2014    NaN

#### 11. Quem é a pessoa mais mal paga?

In [62]:
df.groupby("EmployeeName").max("BasePay").sort_values(by="BasePay", ascending=True).head(3)

                    Id  BasePay  TotalPay  TotalPayBenefits  Year  Notes
EmployeeName
Irwin Sidharta   72833  -166.01     83.01             89.57  2012    NaN
Robert Scott     72866  -121.63     61.07             66.51  2012    NaN
Chung Huey Kung  72873  -109.22     54.61             58.93  2012    NaN

#### 12. Qual a média salarial por ano?

In [63]:
df.groupby("Year").mean("BasePay")

            Id       BasePay      TotalPay  TotalPayBenefits  Notes
Year
2011   18080.0  63595.956517  71744.103871      71744.103871    NaN
2012   54542.5  65436.406857  74113.262265     100553.229232    NaN
2013   91728.5  69630.030216  77611.443142     101440.519714    NaN
2014  129593.0  66564.421924  75463.918140     100250.918884    NaN

#### 13. Quantos títulos de trabalho existem?

In [87]:
len(df["JobTitle"].unique())

2159

In [89]:
# Count the number of unique job titles (case-insensitive)\
unique_JobTitles = df["JobTitle"].str.upper().nunique()
print(f"O número de títulos de trabalho únicos é: {unique_JobTitles}")

O número de títulos de trabalho únicos é: 1637

#### 14. Quais são os cinco principais empregos mais comuns?

#### 15. Quantas pessoas têm a palavra chefe em seu cargo? (complicado)

In [89]:
# Count the number of unique job titles (case-insensitive)
number_of_unique_job_titles = df["JobTitle"].str.upper().nunique()

print(f"O número de títulos de trabalho únicos é: {number_of_unique_job_titles}")